body {
  background-color: #001f3f; /* Dark blue background */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  padding: 20px 0;
  font-size: 24px;
}

#map {
  height: 500px; /* Adjust height as needed */
  width: 80%;
  margin-left: 18%;
  margin-right: 10%; /* Pushes the map to the right */
  border-radius: 50px;
}
